# My App
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-proto-wireguard=y

CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_tcpdump=y

# DDNS
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
# CONFIG_PACKAGE_luci-app-ddns-go is not set

# USB自动挂载
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_mount-utils=y

# USB打印机
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_luci-app-p910nd=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
# CONFIG_PACKAGE_luci-app-usb-printer is not set
